{% extends 'base.html.twig' %}

{% block title %}Protection des données{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/ticket/list.css') }}" rel="stylesheet"/>
{% endblock %}


{% block headForm %}Protection des données{% endblock %}
{% block body %}
        {% block preface %}
            <div class="mt-5 mb-2">
                <p>Le Responsable de Traitement de aidonslesaidants.fr est Rémi Koci (alaid.tech@gmail.com).</p>
                <p>En accord avec le Règlement Général sur la Protection des Données, aidonslesaidants.fr collecte des données uniquement à des fins de mise en relation de personnes à visée d'entraide.</p>
                <p>Les données collectées par aidonslesaidants.fr sont uniquement celles renseignées par les utilisateurs du site internet aidonslesaidants.fr. Aucune autre donnée personnelle n'est collectée, notamment grâce à l'utilisation d'une technologie anonyme et sans cookie de mesure d'usage.</p>
                <p>Les données collectées dans le cadre du traitement de mise en relation de personnes à des visées d'entraide sont utilisées uniquement pour cet objectif. Elles sont supprimées automatiquement 30 jours après le passage d'une demande en "terminé", ou sur simple demande à alaid.tech@gmail.com.</p>
                <p>Les données collectées correspondent à des données à caractère personnel mais ne sont pas des données particulières dites à caractère sensible de par la nature de la collecte (anonymisation des informations partout où cela est possible, utilisation d'intervalles d'âges, mise en relation simple par e-mail, ...).</p>
                <br>
                <p>Vous disposez d'un droit d'accès, de rectification, d’effacement et de portabilité de vos données ainsi que d’un droit d'opposition et d'un droit de limitation du traitement des données vous concernant. Vous pouvez exercer vos droits en nous contactant à l'adresse suivante : <a href="mailto:alaid.tech@gmail.com">alaid.tech@gmail.com</a></p>
            </div>
        {% endblock %}

    </div>
{% endblock %}
