body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #6c757d;
}

h2 {
    color: white;
}

a,
a:hover,
label {
    color: #00b894;
}

.btn-perso {
    color: white;
    background-color: #00b894;
}

label[for=newDemande_rgpdAccepted],
label[for=newDemande_rule],
#rgpd_text,
#all_mentions_button {
    font-size: .7rem;
}

label[for=newDemande_rgpdAccepted],
label[for=newDemande_rule] {
    font-style: italic;
}

#rgpd_text {
    border: 1px solid #00b894;
    height: 100px;
    overflow: scroll;
}

#all_mentions_button {
    background-color: #00b894;
}

#all_mentions_button:hover {
    cursor: pointer;
}
