body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #6c757d;
    <
}

h2 {
    color: white;
}

a,
a:hover,
label,
.text-open {
    color: #00b894;
    text-decoration: none;
}

#headForm {
    background: linear-gradient( 90deg, rgba(85, 239, 196, 1) 0%, rgba(0, 184, 148, 1) 100%);
    height: 150px;
}

.btn-perso,
.text-close,
.text-close a {
    color: white;
    background-color: #00b894;
}

.text-in-progress,
.text-in-progress a {
    color: #f6b93b;
}

.border-perso-open {
    border-left: 4px solid #00b894;
}

.border-perso-in-progress {
    border-left: 4px solid #f6b93b;
}

.border-perso-close {
    border-left: 4px solid #fff;
}

.bg-open,
.bg-in-progress {
    background-color: #fff;
}

.bg-close {
    padding: 0 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}