body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #6c757d;
}

h2 {
    color: white;
}

a,
a:hover,
label,
.text-open {
    color: #00b894;
    text-decoration: none;
}

.btn-perso,
.text-close,
.text-close a {
    color: white;
    background-color: #00b894;
}

.text-in-progress,
.text-in-progress a {
    color: #f6b93b;
}

.border-perso-open {
    border-left: 4px solid #00b894;
}

.border-perso-in-progress {
    border-left: 4px solid #f6b93b;
}

.border-perso-close {
    border-left: 4px solid #fff;
}

.bg-open,
.bg-in-progress {
    background-color: #fff;
}

.bg-close {
    padding: 0 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ticket-list {
    max-height: 295px;
}

.ticket-list::-webkit-scrollbar {
    width: 8px
}


/* background of the scrollbar except button or resizer */

.ticket-list::-webkit-scrollbar-track {
    background-color: #e8e8ee;
}


/* scrollbar itself */

.ticket-list::-webkit-scrollbar-thumb {
    border-radius: 16px;
    height: 30px;
    border: 4px solid #babac0;
}