body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #6c757d;
}

h2,
.retour {
    color: white;
}

a,
a:hover,
label,
.text-perso {
    color: #00b894;
}

#headForm {
    background: linear-gradient( 90deg, rgba(85, 239, 196, 1) 0%, rgba(0, 184, 148, 1) 100%);
    height: 150px;
}

.btn-perso,
.text-perso-reverse {
    color: white;
    background-color: #00b894;
}

.border-perso-green {
    border-left: 4px solid #00b894;
}

.border-perso-warning {
    border-left: 4px solid #f6b93b;
}

.border-perso-white {
    border-left: 4px solid #fff;
}

.bg-reverse {
    padding: 0 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#inappropriate-alert {
    font-size: .6rem;
}