#logo {
    width: 30%;
    height: 90%;
}

.titre {
    width: 70%;
    height: 100%;
    padding-top: 5%;
}

#headForm {
    background: linear-gradient( 90deg, rgba(85, 239, 196, 1) 0%, rgba(0, 184, 148, 1) 100%);
    height: 150px;
}