{% extends 'ticket/list.html.twig' %}

{% block preface %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    
    <div class="d-flex flex-row-reverse mr-3">
        <a href="{{ path('ticket_create') }}" class="btn btn-perso mt-4 mb-4">Créer une demande
            <strong>
                <i class="fas fa-plus ml-3"></i>
            </strong>
        </a>
    </div>
{% endblock %}

{% block help %}{% endblock %}