body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #6c757d;
}

h2 {
    color: white;
}

a,
a:hover,
label {
    color: #00b894;
}

form {
    margin: 3rem;
}

section {
    margin-top: 2rem;
}

.btn-perso {
    color: white;
    background-color: #00b894;
}