<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    <a href="{{ path('legal_dataProtection') }} "class="mr-3">Protection des données</a>
    <a href="mailto:alaid.tech@gmail.com" class="ml-3">Contact : alaid.tech@gmail.com</a>
</div>
