<!-- Copyright -->
<div class="footer-copyright text-center fixed-bottom pb-3 bg-white">
    <hr class="mt-0" />
    <a href="{{ path('legal_dataProtection') }} "class="mr-3">Protection des données</a>
    <a href="{{ path('legal_cgu') }} "class="ml-3 mr-3">Conditions d'utilisation</a>
    <a href="mailto:alaid.tech@gmail.com" class="ml-3">Contact : alaid.tech@gmail.com</a>
</div>
