{% extends 'base.html.twig' %}

{% block title %}Aidons les aidants{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/ticket/list.css') }}" rel="stylesheet"/>
{% endblock %}


{% block headForm %}Erreur{% endblock %}
{% block body %}
        {% block preface %}
            <div class="mt-5 mb-2">
                <p>Erreur lors de l'affiche de la page.</p>
            </div>
        {% endblock %}
{% endblock %}
